<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-head">
			<center>
				<h2>Welcome To Geekedme App</h2>
				<h4> Select Programs you want to buy</h4>
			</center>

			</div>
			<div class="card-body">
				<form action="#" th:action="@{/cart/addProgram}" th:object=${programs} method="post" >
					<table class="table">
  						<thead>
						    <tr>
						      <th scope="col">Program Name</th>
						      <th scope="col">Qty</th>
						      <th scope="col">Cost</th>
						      <th scope="col">Discount</th>
						    <th scope="col">Amount</th>
						      
						   </tr>
  						</thead>
						  <tbody>
						    <tr>
						      <th scope="row">1</th>
						      <td>th:</td>
						      <td>Otto</td>
						      <td>@mdo</td>
						    </tr>
						    <tr>
						      <th scope="row">2</th>
						      <td>Jacob</td>
						      <td>Thornton</td>
						      <td>@fat</td>
						    </tr>
						    <tr>
						      <th scope="row">3</th>
						      <td>Larry</td>
						      <td>the Bird</td>
						      <td>@twitter</td>
						    </tr>
						  </tbody>
</table>
				</form>
			
			</div>
		</div>
		
		
		<form>
		</form>
	
	</div>

</body>
</html>